.inputWrapper {
  width: 500px;
  margin: 100px auto 30px auto;
}

.inputWrapper input {
  width: 400px;
  height: 40px;
  font-size: 30px;
}

.inputWrapper input:focus {
  outline: none;
}

.inputWrapper button {
  height: 45px;
  width: 70px;
  float: right;
  background: #1e6ec9;
  color: white;
  border: none;
  font-size: 20px;
}

.inputWrapper button:focus {
  outline: none;
  border: 3px solid black;
}

